---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import { getCollection } from "astro:content";

const projects = await getCollection("projects");
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<section>
				<ul>
					{
						projects.map((project) => (
							<li>
								<a href={`/projects/${project.slug}`}>
									<h4>{project.data.name}</h4>
									<div class="tag-list">
										{project.data.tech.map((t) => (
											<span>{t}</span>
										))}
									</div>
								</a>
							</li>
						))
					}
				</ul>
			</section>
		</main>
	</body>
</html>

<style>
	main {
		margin-top: 36px;
	}
	ul {
		display: flex;
		flex-direction: column;
		gap: 2rem;
		list-style-type: none;
		margin: 0;
		padding: 0;
	}

	ul > li + li {
		/* or use ul > li ~ li */
		border-top: 1px solid var(--primary);
	}

	li {
		padding: 16px;
	}

	a {
		color: var(--foreground);
	}

	a:hover > h4 {
		color: var(--primary);
	}

	.tag-list {
		display: flex;
		gap: 6px;
	}

	.tag-list > span {
		font-size: 0.7em;
		border-radius: 24px;
		padding: 1px 12px;
		border: 1px solid var(--primary)
	}
</style>
